<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "fr.marvinroger.homie-esp8266"
versionCode = "1"
version = "1.0.0" >

  <name>Homie Setup</name>

  <description>Setup your Homie device</description>

  <preference name="phonegap-version" value="cli-6.0.0" />

  <platform name="android" />
  <!--<platform name="winphone" /> // latest 6.0.0 have problems -->

  <icon src="public/img/logo.png" />
  <splash src="public/img/logo.png" />

  <feature name="http://api.phonegap.com/1.0/network" />

  <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
  <plugin name="cordova-plugin-crosswalk-webview" spec="^1.0.0" />

  <access origin="http://homie.config" />
</widget>
